<div id="forgot_password_form" class="form-style">
    <form
    hx-post="/auth/forgot-password"
    {{!-- Success gets a redirect, error gets form back w/ errors --}}
    hx-target="#submit_response"
    {{!-- hx-headers='{"Content-Type": "multipart/form-data"}' --}}
    hx-swap="innerHTML"
    >
        <div id="submit_response"></div>
        <h1>Forgot Password</h1>
        <h5>Please enter your email to receive a link to reset your password.</h5>
        <div>
        <hr/>
            <ul>
                <li>
                    <input class="field-style field-full align-none" type="email" placeholder="Email" name="email" required>
                </li>
                <li>
                    <button type="submit">Submit</button>
                </li>
            </ul>
        </div>
    </form>
    <div class="form_link_container" style="background-color: #eee"><p><a href="/">Back to Login.</a></p></div>
</div>