<div class="validation_div">
  <h4>Please correct the following validation errors.</h4>
  {{#each errors}}
  <div class="error_div">
    <h5>{{to_title_case this.key}}</h5>
    <div>
      {{#each this.errs}}
        <p>{{this.message}}</p>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>