<div class="validation_div">
  <h4>Please correct the following validation errors.</h4>
  {{#each errors}}
  <div class="error_div">
    <p>{{this.key}}</p>
    <ul>
      {{#each this.errs}}
        <li>{{this.message}}</li>
      {{/each}}
    </ul>
  </div>
  {{/each}}
</div>