<div id="reset_password_form" class="form-style">
    <form
    hx-post="/auth/reset-password"
    {{!-- Success gets a redirect, error gets form back w/ errors --}}
    hx-target="#register_errors"
    {{!-- hx-headers='{"Content-Type": "multipart/form-data"}' --}}
    hx-swap="innerHTML"
    >
        <h1>Register Form</h1>
        <div>
        <hr/>
        <div id="login_errors"></div>
        <ul>
            <li>
                <input class="field-style field-full align-none" type="text" placeholder="Username" name="username" required>
            </li>
            <li>
                <input name="email" id="email" type="email" class="field-style field-full align-none"
                    {{!-- hx-get="/contacts/{{ contact.id }}/email" --}}
                    hx-get="/auth/validate/email"
                    hx-target="next .error"
                    hx-trigger="change, keyup delay:200ms changed"
                    placeholder="Email">
                <span class="error"></span>
            </li>
            <li>
                <input class="field-style field-full align-none" type="password" placeholder="Password" id="password_input" name="password" required>
            </li>
            <div id="password_match"></div>
            <li>
                <input 
                    class="field-style field-full align-none" 
                    type="password" 
                    placeholder="Re-Enter Password" 
                    name="re_password" 
                    _="on keyup 
                        if my value is not empty
                            if my value == #password_input.value
                                put '✅ Passwords Match' into #password_match
                            otherwise
                                put '❌ Passwords Do Not Match' into #password_match
                            end
                        otherwise
                            put '' into #password_match
                        end" 
                    required>
            </li>
            <li>
                <button type="submit">Register</button>
            </li>
            <li>
                <div class="container" style="background-color: #eee">
                    <span class="reg">
                        <a 
                            href="/"
                        >Already have an account? Login here.
                        </a>
                    </span>
                </div>
            </li>
        </ul>
        </div>
    </form>
    <div class="form_link_container" style="background-color: #eee"><p><a href="/">Already have an account? Login here.</a></p></div>
</div>