{{
#>
 modal-layout }}
<div>
  <h2 id="attachment_header" class="text-center">Attachments</h2>
  <div id="attachment_errors"></div>
  <div id="attachments_div">
    {{#each attachments}}
      <details>
        <summary>{{this.short_desc}}</summary>
          {{#if (int_in this.mime_type_id [1,2,3,4,5])}}
            <img src={{this.path}} />
          {{/if}}
          {{#if (int_in this.mime_type_id [6,7,8])}}
            <audio controls={true}>
                <source src={{this.path}} type="audio/wav" />
                {{!-- {"Your browser does not support the audio element."} --}}
            </audio>
          {{/if}}
          {{#if (int_in this.mime_type_id [9,10,11])}}
            <video width="320" height="240" controls={true} >
                <source src={{this.path}} type="video/webm" />
                {{!-- // Use with multiple types
                // <source src="movie.ogg" type="video/ogg"> --}}
                {{!-- {"Your browser does not support the video tag."} --}}
            </video>
          {{/if}}
      </details>
      <img src="/images/download.svg" alt="download_attachment" />
    {{/each}}
  </div>
</div>
{{/modal-layout}}