<div class="compose_container">  
  <form id="compose" action="" method="POST">
    <h3>Compose an Article</h3>
    <fieldset>
      <input placeholder="Article Title" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Subtitle" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <div>
        <label for="category_id">Category</label>
        <select class="field-style field-full align-none" id="category_id" name="category_id">
          {{#each category_options}}
            <option value="{{this.value}}">{{this.key}}</option>
          {{/each}}
        </select>
      </div>
    </fieldset>
    <fieldset>
      <textarea cols="30" placeholder="Article content here ..." tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
</div>