<script>
  document.body.addEventListener('htmx:beforeSwap', function(evt) {
    // Allow 422 and 400 responses to swap
    // We treat these as form validation errors
    if (evt.detail.xhr.status === 422 || evt.detail.xhr.status === 400) {
      evt.detail.shouldSwap = true;
      evt.detail.isError = false;
    }
  });
 document.getElementById('file_upload').addEventListener('change', function(e) {
    if (e.target.files[0]) {
      document.getElementById('upload_btn').disabled = false
    } else {
      document.getElementById('upload_btn').disabled = true
    }
  });
</script>

<div class="form-style">
  <h2 id="consult_form_header" class="text-center">Check 📆</h2> 
  <div id="consult_errors"></div>
</div>
