<div id="default_index">
    <h4>Here Are Some Helpful Links</h4>
    <ul>
        <li>    
            <a
                href="/about-us"
                class="about-link"
                >About Us</a
            >
        </li>
        <li>    
            <a
                href="/articles"
                class="about-link"
                >Articles</a
            >
        </li>
    </ul>
</div>