{{
#>
 main-layout title='Homepage' user=user}}
 <div class="homepage">
    <h1>Welcome to External Review or Whatever</h1>
    {{#if str}}
        <div id="error_div">
            <p>{{str}}</p>
            <p><a href="/">Login</a></p>
        </div>
    {{else}}
    <div class="fancy_links">
        <p>Glad you could join us, <span _="on mouseover toggle .blue on me">{{{username}}}</span>. Here are some helpful links:</p>
        <ul>
            <li><a href="/crud">Create Records</a></li>
            <li><a href="/list">Read &amp; Edit</a></li>
        </ul>
    </div>
    {{/if}}
</div>
{{/main-layout}}