{{
#>
 main-layout }}
 <div class="list_api">
    <h1>Lists</h1>
    <p>{{{title}}}</p>
    <div class="btn_div">
        <button
            hx-get="/consult/list" 
            hx-target="#list_op_container" 
        >
            Consults
        </button>
        <button
            hx-get="/location/list" 
            hx-target="#list_op_container" 
        >
            Locations
        </button>
        <button
            hx-get="/consultant/list" 
            hx-target="#list_op_container" 
        >
            Consultants
        </button>
        <button
            hx-get="/client/list" 
            hx-target="#list_op_container" 
        >
            Clients
        </button>
        <button
            hx-get="/fixed" 
            hx-target="#list_op_container" 
        >
            Fixed Table
        </button>
        <button
            hx-get="/responsive" 
            hx-target="#list_op_container" 
        >
            Responsive Table
        </button>
    </div>

    <div id="list_response">
    </div>

    <div class="op_container" id="list_op_container">
    </div>
</div>
{{/main-layout}}