<body hx-boost="true">
<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
	<div class="modal-underlay" _="on click trigger closeModal"></div>
	<div class="modal-content">
        {{> @partial-block }}
		<button _="on click trigger closeModal">Close</button>
	</div>
</div>
</body>