<div class="nav">
    <ul>
    <li>    
        <a
            href="/about-us"
            class="about-link"
            >About Us</a
        >
    </li>
    <li>    
        <a
            href="/articles"
            class="about-link"
            >Articles</a
        >
    </li>
    <li>    
        <a
            href="/"
            class="about-link"
            >Home</a
        >
    </li>

    {{#if user.user_type_id}}
        {{#if (int_eq user.user_type_id 1)}}
            <li>    
                <a
                    href="/admin/home"
                    class="about-link"
                    >Admin</a
                >
            </li>
        {{/if}}
    {{/if}}


    {{#if user.user_type_id}}
    <li style="float:right">  
        <div class="dropdown">
            <button class="dropbtn"><img width='1' height='1' src="images/user.svg" />
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a 
                    class="text-white" 
                    href="/user/home"
                >User Home</a>
                <a class="active" href="#about">👤</a>
                <button
                    hx-get="/auth/logout" 
                >
                    Logout
                </button>
            </div>
        </div>
    </li> 
    {{else}}
    <li style="float:right">    
        <a
            href="/"
            class="about-link"
            >Login</a
        >
    </li>
    {{/if}}
    </ul>
</div>