{{
#>
 main-layout }}
 <div class="list_api" id="list_api">
    <h1>Schedule Events</h1>
    <p>{{{title}}}</p>
    <div class="btn_div">
        <button
            _="on hover toggle .metal_purple on me"
            hx-get="/consult/list" 
            hx-target="#list_op_container" 
        >
            Consults
        </button>
    </div>

    <div id="list_response">
    </div>

    <div class="op_container" id="list_op_container">
        <p hx-get={{get_list_view user.list_view}} hx-trigger="load" hx-swap="innerHTML" hx-target="#list_op_container">Default View</p>
    </div>
</div>
{{/main-layout}}