{{
#>
 main-layout }}
 <div class="service_api" id="service_api">
    <h1>Consult Services</h1>
    <div class="btn_div">
        <button
            _="on hover toggle .metal_purple on me"
            hx-get="/consult/list" 
            hx-target="#service_op_container" 
        >
            Gifting Service
        </button>
    </div>

    <div id="service_response">
    </div>

    <div class="op_container" id="service_op_container">
        {{!-- <p hx-get={{get_list_view user.list_view}} hx-trigger="load" hx-swap="innerHTML" hx-target="#event_op_container">Default View</p> --}}
    </div>
</div>
{{/main-layout}}