<form
  hx-post="/todos"
  hx-target="#todos"
  hx-headers='{"Content-Type": "multipart/form-data"}'
  hx-swap="innerHTML"
>
    <label for="todo" class="form-label"
      >Todo</label
    >
    <div class="form-div">
      <input
        type="text"
        name="todo"
        id="todo"
        class="form-text-input"
        placeholder="Replace frontend with htmx"
      />
      <input
        type="text"
        name="date"
        id="date"
        class="form-text-input"
        placeholder="Date"
      />
      <button
        type="submit"
        class="styled-btn"
      >
        Add
      </button>
    </div>
  </form>
  <div id="todos" />
  