{{
#>
 main-layout session=true}}
 <div class="user_settings">
    <h1>User Settings</h1>
    <p>{{email}}</p>
    <p>{{created_at}}</p>


    <div id="crud_response">
    </div>

    <div id="crud_op_container">
    </div>
</div>
{{/main-layout}}