{{#if this.error_msg}}  
  <div>
    <p class="error_msg">
      {{this.error_msg}}
    </p>
  </div>
{{/if}}

{{#if this.success_msg}}
  <div>
    <p class="success_msg">
      {{this.success_msg}}
    </p>
  </div>
{{/if}}