legend,
fieldset,
select,
textarea,
input,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="date"]:focus:before,
input[type="date"]:valid:before {
    content: "";
}

input[type="time"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
}
input[type="time"]:focus:before,
input[type="time"]:valid:before {
    content: "";
}

button {
    cursor: pointer;
}

.blue {
    color: blue;
}

button:disabled {
    cursor: not-allowed;
}

[disabled] {
    opacity: .6;
    cursor: default;
  }

/***********
** Errors **
***********/

.error_div {
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: rgb(245, 54, 54);
}

.error_div li:not(:last-child) { 
    border-bottom: 1px solid rgb(13, 8, 42); 
}

.error_msg {
    color: rgb(244, 64, 64);
    font-weight: bold;
    font-size: small;
}

.success_msg {
    color: green;
    font-weight: bold;
    font-size: small;
}

#default_index {
    width: 60%;
    margin: auto;
    text-align: center;
}

#default_index ul {
    list-style-type: none;
}

#default_index ul {
    text-decoration: none;
    padding-inline-start: 0px;
}
/****************
*** Home Page ***
****************/

.homepage {
    min-height: 100vh;
}

.homepage h1 {
    text-align: center;
    font-size: 150%;
    color: purple;
}

.intro {
    text-align: center;
    font-style: italic;
}

.homepage .fancy_links {
    padding-inline-end: 40px;
    color: black;
}

#default_links {
    width: 80%;
    margin: auto;
}

#default_links h4 {
    text-align: center;
}

#about_left a {
    cursor: pointer;
    color: lightblue;
}

.about_service {
    width: 80%;
    margin: auto;
    color: white;
}

.about_service h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    color:hsl(67, 36%, 52%);
}

.about_service p {
    color:white;
}

#news_container {
    margin: auto;
    width: 80%;
}

#news_container h4 {
    text-align: center;
}

/*************
** Articles **
*************/

#reset_div {
    text-align: right;
}

.clear_form_btn {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #0000000d;
    color: #0e0e10;
    padding: 0 10px;
    :hover {
        background-color: #0000001a;
    }
}

.article_display {
    width: 90%;
    margin: auto;
    background-color: rgb(234, 202, 234);
}

.compose_container {
	width:96%;
	margin:0 auto;
	position:relative;
}

.contact_container {
	max-width:400px;
	width:100%;
	margin:0 auto;
	position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#contact h3 {
	color: #F96;
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#contact h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
	width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#contact textarea {
	height:100px;
	max-width:100%;
    resize:none;
}

.metal_purple {
    color: rgba(128, 0, 128, 0.579);
    background-color: rgba(128, 0, 128, 0.579);
}

.contact_container, .compose_container button[type="submit"] {
    display: inline-block;
    outline: 0;
    border: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    font-size: 13px;
    height: 30px;
    background-color: #9147ff;
    color: white;
    padding: 0 20px;
    :hover {
        background-color: #772ce8;
    }

}

#contact button[type="submit"]:hover {
	background:#09C;
	-webkit-transition:background 0.3s ease-in-out;
	-moz-transition:background 0.3s ease-in-out;
	transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline:0;
	border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

/************
** Compose **
************/

#compose input[type="text"], #compose input[type="email"], #compose input[type="select"], #compose textarea, #compose button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#compose {
	background:#F9F9F9;
	padding:25px;
	margin:50px 0;
}

#compose h3 {
	color: rgb(195, 152, 244);
	display: block;
	font-size: 30px;
	font-weight: 400;
}

#compose h4 {
	margin:5px 0 15px;
	display:block;
	font-size:13px;
}

#compose input[type="text"], #compose input[type="email"], #compose input[type="select"], #contact textarea {
	width:100%;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
}

#compose input[type="text"]:hover, #compose input[type="email"]:hover, #compose input[type="select"], #compose textarea:hover {
	-webkit-transition:border-color 0.3s ease-in-out;
	-moz-transition:border-color 0.3s ease-in-out;
	transition:border-color 0.3s ease-in-out;
	border:1px solid #AAA;
}

#compose textarea {
	height:50vh;
	width:100%;
    resize:none;
}

/***************
** Navigation **
***************/

.nav .active {
    background-color: #afb2ed;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #216288;
}

.nav li {
    float: left;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav li a:hover {
    background-color: #111;
}

.nav .header img {
    text-align: center;
    margin: auto;
    max-width: 80px;
    height: auto;
}

.nav textarea {
    min-height: 10rem;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .nav a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(132, 183, 230);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #5995b8d6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content button {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: auto;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}


.user-dropdown {
    float: left;
    overflow: hidden;
  }
  
  .user-dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .user-dropdown:hover .dropbtn {
    background-color: rgb(132, 183, 230);
  }
  
  .user-dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.user-dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.user-dropdown-content button {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
  
.user-dropdown-content a:hover {
    background-color: #ddd;
}
  
.user-dropdown:hover .user-dropdown-content {
    display: block;
}


/*************
**** User ****
*************/

.user_home h1 {
    text-align: center;
    color: rgb(5, 5, 68);
    font-weight: bold;
}

.user_home img {
    width: 5em;
    height: auto;
}

.img_div {
    margin-top: 2em auto;
    text-align: center;
}

.info_section {
    width: 80%;
    margin: auto;
    text-align: center;
}

.dropdown img {
    width: 1em;
    height: 1em;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

/*************
*****CRUD*****
*************/

.op_container {
    width: 95%;
    margin: 3em auto;
    border-radius: 5px;
    min-height:95vh;
    border: 1px solid black;
}

.op_container p {
    text-align: center;
}

#crud_response {
    width: 80%;
    margin: auto;
    text-align: center;
    height: auto;
}

.crud h1 {
    text-align: center;
}

.btn_div {
    margin: auto;
    width: 50%;
    text-align: center;
}

.btn_div button {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border-bottom: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}

select {
    background: url("https://upload.wikimedia.org/wikipedia/commons/6/6e/OOjs_UI_indicator_arrow-down-progressive.svg") no-repeat center right 0.75rem;
}

html {
    width: 80%;
    margin: auto;
    font: 12px Arial, Helvetica, sans-serif;
}

body {
    border: 1px solid black;
}
  
h1,h2,h3,h4,h5,h6 {
    margin: 1em 0;
}
  
p,ul,ol {
    color: #1d1d1d;
    font-family: sans-serif;
}


@media (min-width: 640px) { 
    .form-text-input {
        font-size: 0.875rem;
        line-height: 1.25rem; 
        line-height: 1.5rem; 
    }
 }

.styled-btn {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem; 
    padding-left: 0.625rem;
    padding-right: 0.625rem; 
    border-radius: 0.375rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    font-weight: 600; 
    color: #ffffff; 
    background-color: #4F46E5; 
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05); 
}

.styled-btn:hover {
    background-color: #6366F1; 
}

/*************
**** Form ****
*************/

#consultant_img {
    width: 15em;
    height: 15em;
    margin: auto;
    text-align: center;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.full-width {
    width: 100%;
}

.error_div {
    margin: auto;
    text-align: center;
    color: red;
}

.formcontainer {
    text-align: left;
    margin: 24px 50px 12px;
}

.formcontainer form {
    line-height: 2;
}

.formcontainer input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    border-radius: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #232121;
    box-sizing: border-box;
}

.form-style {
	max-width: 450px;
	background: #FAFAFA;
	padding: 30px;
	margin: 50px auto;
	box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
	border-radius: 10px;
	border: 6px solid #305A72;
}

.form-style label {
    font-size: small;
}

.form-style ul{
	padding:0;
	margin:0;
	list-style:none;
}

.form-style h1 {
    text-align: center;
}

.form-style ul li{
	display: block;
	margin-bottom: 10px;
	min-height: 35px;
}

.form-style a {
    text-decoration: none;
    font: 12px Arial, Helvetica, sans-serif;
}

.form-style ul li  .field-style{
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	padding: 8px;
    border-radius: 5px;
	outline: none;
	border: 1px solid #B0CFE0;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;

}.form-style ul li  .field-style:focus{
	box-shadow: 0 0 5px #B0CFE0;
	border:1px solid #B0CFE0;
}
.form-style ul li .field-split{
	width: 49%;
}
.form-style ul li .field-full{
	width: 100%;
}
.form-style ul li input.align-left{
	float:left;
}
.form-style ul li input.align-right{
	float:right;
}

#password_match {
    text-align: center;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    text-align: left;
    text-indent: 25px;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    border-radius: 5px;
    border: 2px solid black;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*****************
*** Validation ***
*****************/

.validation_div {
    text-align: center;
    font-weight: bold;
}

.validation_error {
    color: #d23f35;
  }

.validation_success {
    color: #2f6636;
  }

/**************
**** Feed ****
**************/

#consult_feed {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    text-indent: 10px;
}

.client_sub {
    color: green;
}

.location_sub {
    color: blue;
}

.consultant_sub {
    color: pink;
}

/**************
**** Alert ****
**************/


.alert_error {
    padding: 10px;
    background-color: #97443e; 
    color: rgba(255, 255, 255, 0.819);
    margin-bottom: 10px;
    width: 60%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
  }

.alert_success {
    padding: 10px;
    background-color: #305f36;
    color: rgba(255, 255, 255, 0.752);
    margin-bottom: 10px;
    width: 60%;
    text-align: center;
    margin: auto;
    border-radius: 10px;
  }
  

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  

.closebtn:hover {
    color: black;
  }

/*****************
** Address Form **
*****************/

.form-style ul li .field-state{
	width: 11%;
}
.form-style ul li .field-city{
	width: 66%;
}
.form-style ul li .field-zip{
	width: 20%;
}

.form-style ul li .field-addr-one{
	width: 68%;
}
.form-style ul li .field-addr-two{
	width: 29%;
    float:right;
}

.form-style ul li textarea{
	width: 100%;
	height: 100px;
}
.form-style ul li button {
	-moz-box-shadow: inset 0px 1px 0px 0px #3985B1;
	-webkit-box-shadow: inset 0px 1px 0px 0px #3985B1;
	box-shadow: inset 0px 1px 0px 0px #3985B1;
	background-color: #216288;
	border: 1px solid #17445E;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	padding: 8px 18px;
	text-decoration: none;
	font: 12px Arial, Helvetica, sans-serif;
}
.form-style ul li button:hover {
	background: linear-gradient(to bottom, #2D77A2 5%, #337DA8 100%);
	background-color: #28739E;
}

/****************
****About Us ****
****************/

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    /* width: 75vw; */
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}
.about_image{
    background-color: #12192c;
    display: flex;
}
.about_image img{
    height:50vh;
    margin: auto;
}
.content{
    background-color: #12192c;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border-radius: 0  12px 12px 0; */
    color: #fff;
}
.content h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
}
.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#ffffff
}

.fancy_links{
    margin: 15px 0;
}
.fancy_links p{
    text-align: center;
}
.fancy_links li{
    border: 2px solid #5a93de;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    width: 60%;
    margin: 1em auto;
}
.fancy_links li a{
    text-transform: uppercase;
    color: rgb(181, 98, 211);
    text-decoration: none;
    cursor: pointer;
}
.fancy_links li:hover{
    border-color: #C850C0;
}

.vertical-line{
    height: 30px;
    width: 3px;
    background: #C850C0;
    margin: 0 auto;
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: #C850C0;
    cursor: pointer;
}

#about_is_display {
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}


/*****************/

@media(max-width: 900px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: none;
    }
    .about_image{
        height: 100%;
        border-radius: none;
    }
    .content{
        height: 100vh;
        border-radius: none;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}

/*****************
*** Attachment ***
*****************/

#attachments_div {
    width: 90%;
    margin: auto;
    text-align: center;
}

#attachment_ul {
    cursor: pointer;
    color: blue;
    font-weight: bold;
    list-style-type: none;
}

#attachments_div img {
    cursor: pointer;
    display: inline;
    width: auto;
    height: 100%;
    max-height: 1em;
    max-width: 1em;
}

#attachments_div summary {
    width: auto;
}

/*************
**** List ****
*************/

.list_api {

}

.list_api p, h1{
    text-align: center;
}

/**************
**** Login ****
**************/
#login_errors {
    color: red;
    font-weight: bold;
    text-align: center;
    margin: auto;
}
.form_link_container {
    border-radius: 10px;
    padding: 8px 0;
}
.form-style span.psw {
    float: right;
    padding-right: 15px;
    line-height: 0.5em; 
    vertical-align: middle;
}
.form-style span.reg {
    padding-left: 15px;
    line-height: 0.5em; 
    vertical-align: middle;
}

    /* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
    .login-form span.psw {
        display: block;
        float: none;
    }
}

/******************
*** Fixed Table ***
******************/

/* default styling. Nothing to do with freexing first row and column */
table {border-collapse: collapse; font-family: helvetica}

.table-container td, th {
    border:  1px solid;
    padding: 10px;
    min-width: 200px;
    background: white;
    box-sizing: border-box;
    text-align: left;
}

th i {
    cursor: pointer;
}

.table-container {
  position: relative;
  max-height:  300px;
  /* width: 500px; */
  overflow: scroll;
}

.table-container thead th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  background: hsl(67, 36%, 52%);
}

.table-container thead th:first-child {
  left: 0;
  z-index: 3;
}

tfoot {
  position: -webkit-sticky;
  bottom: 0;
  z-index: 2;
}

tfoot td {
  position: sticky;
  bottom: 0;
  z-index: 2;
  background: hsl(67, 36%, 52%);
}

tfoot td:first-child {
  z-index: 3;
}

.table-container tbody {
  overflow: scroll;
  height: 200px;
}

/* MAKE LEFT COLUMN FIXEZ */
.table-container tr > :first-child {
  position: -webkit-sticky;
  position: sticky; 
  background: #216288;
  left: 0; 
}
/* don't do this */
.table-container tr > :first-child {
  box-shadow: inset 0px 1px black;
}

/****************
*** Scrollbar ***
****************/

select::-webkit-scrollbar {
    width: 12px;               
}
  
select::-webkit-scrollbar-track {
    background: rgb(200, 201, 204)
}
  
select::-webkit-scrollbar-thumb {
    background-color: #216288;    
    border-radius: 20px;  
    border: 3px solid rgb(238, 201, 132);  
}


/*********************
** Responsive Table **
*********************/

#table_search_input {
    border: 0;
    outline: 0;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding: 4px 8px;
    min-height: 28px;
    vertical-align: middle;
    transition: background-color .24s,box-shadow .24s;
    transition-property: background-color, box-shadow;
    transition-duration: 0.24s, 0.24s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    :focus{
        box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(58 151 212 / 36%) 0px 0px 0px 4px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
    }
}

#table_search {
    margin-bottom: 1em;
}

.action_btn {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    color: #4c60ad;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

.responsive_table h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(40, 5, 50);
    padding: 10px 0;
}

/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    table-layout:fixed;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
         max-width: 0;
    }
}

/***** MODAL DIALOG ****/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px;
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	width:80%;
	max-width:600px;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
} 

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
} 

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
} 

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
} 
