{{
#>
 layouts/basic-layout session=true}}
 <div class="user_settings">
    <h1>User Profile</h1>
    <p>Email: {{email}}</p>
    <p>User Since: {{created_at}}</p>
    <p>Last Updated: {{updated_at}}</p>


    <div id="crud_response">
    </div>

    <div class="op_container" id="crud_op_container">
    </div>
</div>
{{/layouts/basic-layout}}